name: tests
on:
  push:
    branches: [ main ]
    paths:
      - src/**
      - tests/**
      - .github/**
  pull_request:
    branches: [ main ]


jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install tytanic (binary)
        uses: taiki-e/install-action@v2
        with:
          tool: tytanic@0.3.0

      - name: Run test suite
        run: tt run --no-fail-fast

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: artifacts
          path: |
            tests/**/diff/*.png
            tests/**/out/*.png
            tests/**/ref/*.png
          retention-days: 5